<main class="container">
        
    <div class="row align-items-md-stretch mt-2" *ngFor="let i of [1,2,3,4,5]">
        <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Veja os últimos conteúdos</h2>
            <p>Veja os últimos conteúdos publicados, independente da turma, data, classe, ou um outro critério</p>
            <button class="btn btn-outline-light" type="button">Procurar</button>
        </div>
        </div>
        <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Procure por turma</h2>
            <p>Procure conteúdos filtrados por turma e disciplina</p>
            <button class="btn btn-outline-secondary" type="button">Procurar</button>
        </div>
        </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021 - Área Técnica do CEPPH
    </footer>
           
</main>
  